---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import H1 from "../components/H1.astro";
import H3 from "../components/H3.astro";
import H4 from "../components/H4.astro";
import P from "../components/P.astro";
import kurvSort from "../assets/images/KurvIkonSort.svg";
import kurvBeige from "../assets/images/KurvIkonBeige.svg";
import procesbillede from "../assets/images/procesbillede.jpg";
import portraet from "../assets/images/portraet.jpg";
import billede1 from "../assets/images/hsb1.jpg";
import billede2 from "../assets/images/hsb2.jpg";
import billede3 from "../assets/images/hsb3.png";
import billede4 from "../assets/images/hsb4.jpg";
import billede5 from "../assets/images/hsb5.jpg";
import billede6 from "../assets/images/hsb6.webp";
import billede7 from "../assets/images/hsb7.webp";
import billede8 from "../assets/images/hsb8.webp";
import insta from "../assets/images/instagramIcon.svg";
import tiktok from "../assets/images/tiktokIcon.svg";
---

<MainLayout title="Forside" description="Oplev unikke, håndlavede earcuffs designet til dig, der vil lege med udtryk – uden piercinger. Skabt i ægte materialer og lavet på bestilling." ogtitle="Axters Studios – Håndlavede earcuffs uden piercinger" ogdescription="Velkommen til et smykkeunivers uden piercinger. Håndlavede cuffs i ægte materialer, skabt én ad gangen – med personlighed i hver eneste detalje.">
	<section class="mt-3xl md:mt-4xl">
		<div class="grid place-items-center">
			<div class="grid grid-rows-[auto,auto] justify-items-center">
				<video src="/forsideVideo.webm" class="rounded-[4px] md:rounded-[8px] w-[324px] md:w-[940px] row-start-1" autoplay muted loop></video>
				<h1 class="font-display text-red-400 text-[57px] md:text-[220px] uppercase row-start-2 transform -translate-y-10 md:-translate-y-40">Axters Studio</h1>
			</div>
		</div>
		<!-- Card sektion -->
		<div class="gap-xxs mx-sm md:mx-[108px] flex flex-col md:flex-row md:items-end md:gap-xs md:justify-center md:-translate-y-6xl">
			<!-- Sektion 1 -->
			<div class="flex flex-col md:gap-xs gap-xxs">
				<a href="/singleview/cuff_with_pearl" class="md:flex md:justify-end md:relative group">
					<section class="w-[220px] md:w-[327px] bg-blue-400 flex flex-col md:gap-ml p-xxs md:p-s rounded-[4px] md:rounded-[8px] md:inset-0 md:transition-opacity md:duration-200 md:group-hover:opacity-0">
						<div class="w-[122px] md:w-[153px] place-self-center pb-4 md:pb-0">
							<img src="/cuff_w_pearl.webp" alt="billede af cuff med perle vedhæng" class="md:w-full" />
						</div>
						<div class="">
							<H3 color="darkRed" tekst="Cuff with pearl" />
							<H4 color="darkRed" tekst="Guld" />
							<div class="flex justify-between pt-[12px] items-center">
								<P color="darkRed" weight="fontLight" tekst="700 DKK" />
								<Image src={kurvSort} alt="profilikon" class="w-xs md:w-[20px]" />
							</div>
						</div>
					</section>
					<section class="hidden md:w-[327px] md:block content-end md:justify-self-end md:p-s rounded-[4px] md:rounded-[8px] bg-cover bg-center absolute inset-0 transition-opacity duration-200 opacity-0 group-hover:opacity-100" style="background-image:url('/cuff_with_pearl_hover.webp')">
						<div class="">
							<H3 color="lightBeige" tekst="Cuff with pearl" class="" />
							<H4 color="lightBeige" tekst="Guld" />
							<div class="flex justify-between pt-[12px] items-center">
								<P color="lightBeige" weight="fontLight" tekst="700 DKK" />
								<Image src={kurvBeige} alt="profilikon" class="w-xs md:w-[20px]" />
							</div>
						</div>
					</section>
				</a>

				<a href="/singleview/medium_beaded_soelv" class="flex justify-end md:justify-end md:relative group">
					<section class="w-[259px] md:w-[431px] bg-beige-600 flex flex-col md:gap-ml p-xxs md:p-s rounded-[4px] md:rounded-[8px] md:inset-0 md:transition-opacity md:duration-200 md:group-hover:opacity-0">
						<div class="w-[122px] md:w-[200px] place-self-center pb-4 md:pb-0">
							<img src="/beaded_silver_medium.webp" alt="billede af medium beaded earcuff i sølv" class="md:w-full" />
						</div>
						<div class="">
							<H3 color="darkRed" tekst="Medium beaded earcuff" />
							<H4 color="darkRed" tekst="sølv" />
							<div class="flex justify-between pt-[12px] items-center">
								<P color="darkRed" weight="fontLight" tekst="500 DKK" />
								<Image src={kurvSort} alt="profilikon" class="w-xs md:w-[20px]" />
							</div>
						</div>
					</section>
					<section class="hidden md:w-[431px] md:block content-end md:p-s rounded-[4px] md:rounded-[8px] bg-cover bg-center absolute inset-0 transition-opacity duration-200 opacity-0 group-hover:opacity-100" style="background-image:url('/beaded_silver_medium_hover.webp')">
						<div class="">
							<H3 color="lightBeige" tekst="Medium beaded earcuff" class="" />
							<H4 color="lightBeige" tekst="Sølv" />
							<div class="flex justify-between pt-[12px] items-center">
								<P color="lightBeige" weight="fontLight" tekst="500 DKK" />
								<Image src={kurvBeige} alt="profilikon" class="w-xs md:w-[20px]" />
							</div>
						</div>
					</section>
				</a>
			</div>
			<!-- Sektion 2 -->
			<div class="md:flex md:flex-col md:gap-xs">
				<div class="flex flex-col md:flex-row md:items-end md:gap-xs gap-xxs">
					<a href="/singleview/large_earcuff_soelv" class="md:relative group">
						<section class="w-[272px] md:w-[454px] bg-blue-700 flex flex-col md:gap-ml md:justify-between p-xxs md:p-s rounded-[4px] md:rounded-[8px] md:inset-0 md:transition-opacity md:duration-200 md:group-hover:opacity-0">
							<div class="w-[199px] md:w-[300px] place-self-center pb-4">
								<img src="/silver_large.webp" alt="billede af large earcuff i sølv" class="md:w-full" />
							</div>
							<div class="">
								<H3 color="darkRed" tekst="Large earcuff" />
								<H4 color="darkRed" tekst="sølv" />
								<div class="flex justify-between pt-[12px] items-center">
									<P color="darkRed" weight="fontLight" tekst="750 DKK" />
									<Image src={kurvSort} alt="kurv ikon" class="w-xs md:w-[20px]" />
								</div>
							</div>
						</section>
						<section class="hidden md:w-[454px] md:block content-end md:p-s rounded-[4px] md:rounded-[8px] bg-cover bg-center absolute inset-0 transition-opacity duration-200 opacity-0 group-hover:opacity-100" style="background-image:url('/large_cuff_hover.webp')">
						<div class="">
							<H3 color="lightBeige" tekst="Large earcuff" class="" />
							<H4 color="lightBeige" tekst="Sølv" />
							<div class="flex justify-between pt-[12px] items-center">
								<P color="lightBeige" weight="fontLight" tekst="750 DKK" />
								<Image src={kurvBeige} alt="kurv ikon" class="w-xs md:w-[20px]" />
							</div>
						</div>
					</section>
					</a>

					<a href="/singleview/big_pendant" class="md:relative group">
						<section class="w-[272px] md:w-[383px] md:h-[616px] bg-green-500 flex flex-col md:justify-between p-xxs md:p-s rounded-[4px] md:rounded-[8px] md:inset-0 md:transition-opacity md:duration-200 md:group-hover:opacity-0">
							<div class="w-[282px] md:w-[450px] place-self-center pb-4 md:pb-0">
								<img src="/stort_vedhaeng.webp" alt="billede af big pendant vedhæng i guld" class="md:w-full" />
							</div>
							<div class="">
								<H3 color="darkRed" tekst="Big pendant" />
								<H4 color="darkRed" tekst="Guld" />
								<div class="flex justify-between pt-[12px] items-center">
									<P color="darkRed" weight="fontLight" tekst="300 DKK" />
									<Image src={kurvSort} alt="kurv ikon" class="w-xs md:w-[20px]" />
								</div>
							</div>
						</section>
						<section class="hidden md:w-[383px] md:block content-end md:p-s rounded-[4px] md:rounded-[8px] bg-cover bg-center absolute inset-0 transition-opacity duration-200 opacity-0 group-hover:opacity-100" style="background-image:url('/stort_vedhaeng_hover.webp')">
						<div class="">
							<H3 color="lightBeige" tekst="Big pendant" class="" />
							<H4 color="lightBeige" tekst="Guld" />
							<div class="flex justify-between pt-[12px] items-center">
								<P color="lightBeige" weight="fontLight" tekst="300 DKK" />
								<Image src={kurvBeige} alt="profilikon" class="w-xs md:w-[20px]" />
							</div>
						</div>
					</section>
					</a>
				</div>
				<div class="my-10 md:my-0">
					<Link href="/listview" variant="primary" size="full">Se alle produkter</Link>
				</div>
			</div>
		</div>
		<!-- Om sektion -->
		<div class="mx-sm md:mx-[108px] md:flex gap-[20px]">
			<div class="grid grid-cols-3 relative w-auto content center">
				<Image src={procesbillede} alt="Procesbillede" class="col-start-1 col-end-3 row-start-1 -row-end-1 rounded-[4px] md:rounded-[8px] z-0 w-[222px] md:w-[650px]" />
				<Image src={portraet} alt="Portrætbillede" class="col-start-2 col-end-4 row-start-1 rounded-[4px] md:rounded-[8px] z-10 w-[163px] md:w-[400px] self-center" />
			</div>

			<div class="flex flex-col w-[254px] md:w-[400px] md:transform md:-translate-x-20 justify-center">
				<H1 tekst="Emilie" />
				<div class="transform -translate-y-8">
					<H1 tekst="Axters" variant="rightAligned" />
				</div>
				<div>
					<P color="darkRed" weight="fontLight" tekst="Hey! Jeg hedder Emilie, og er skaberen bag Axters Studio. Klik på knappen herunder,  for at høre hvordan mit lille smykkeunivers opstod!" />
				</div>
				<div class="my-10">
					<Link variant="secondary" size="full" href="/om">Om mig</Link>
				</div>
			</div>
		</div>
	</section>
	<!-- Inspiration -->
	<div id="inspiration" class="overflow-clip md:mb-6xl">
		<section id="horisontalscrollsection" class="h-[500vh] relative mt-6xl">
			<ul id="horisontalliste" class="list-none pl-0 flex sticky top-[13vh] md:top-[20vh] gap-[14px]">
				<li class="pl-0 flex items-start justify-center overflow-hidden flex-grow-0 flex-shrink-0 flex-auto gap-[14px]">
					<div class="flex flex-col w-[200px] h-[414px] md:w-[299px] md:h-[612px] gap-[14px]">
						<Image src={billede1} alt="billede af øre med earcuffs" class="w-full h-full rounded-[4px] md:rounded-[8px]" />
						<Image src={billede3} alt="billede af musling med earcuffs på" class="w-full h-full rounded-[4px] md:rounded-[8px]" />
					</div>
					<div>
						<Image src={billede2} alt="billede af et billede med earcuffs samlet på sig" class="w-[245px] md:w-[362px] rounded-[4px] md:rounded-[8px]" />
					</div>
				</li>
				<li class="pl-0 flex items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
					<Image src={billede4} alt="stablet glatte earcuffs" class="w-[414px] md:w-[612px] rounded-[4px] md:rounded-[8px]" />
				</li>
				<li class="pl-0 flex items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto">
					<Image src={billede5} alt="stablet beaded earcuffs" class="w-[414px] md:w-[612px] rounded-[4px] md:rounded-[8px]" />
				</li>
				<li class="pl-0 flex items-start justify-center overflow-hidden flex-grow-0 flex-shrink-0 flex-auto gap-[14px]">
					<div class="flex flex-col w-[318px] md:w-[476px] h-[414px] gap-[14px]">
						<Image src={billede6} alt="cuffs stylet på pige" class="w-full rounded-[4px] md:rounded-[8px]" />
						<Image src={billede7} alt="cuffs stylet på marmor øre" class="w-full rounded-[4px] md:rounded-[8px]" />
					</div>
					<div>
						<Image src={billede8} alt="cuffs stylet på emilie axters" class="w-[414px] md:w-[612px] rounded-[4px] md:rounded-[8px]" />
					</div>
					<div class="flex flex-col gap-[22px] items-center my-auto mx-xl relative">
						<H1 tekst="Følg mig" variant="centerAligned" />
						<div class="flex justify-center">
							<a href="https://www.instagram.com/emilieaxtersstudio/" target="_blank">
								<Image src={insta} alt="instagram logo" />
							</a>
							<a href="https://www.tiktok.com/@annaaconcerts/video/7504791616503303455" target="_blank">
								<Image src={tiktok} alt="tiktok logo" />
							</a>
						</div>
					</div>
				</li>
				<li class="flex items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"></li>
			</ul>
		</section>
	</div>
</MainLayout>

<script>
	/* Horisontal scroll sektion */
	import { animate, scroll } from "motion";
	scroll(
		animate("#horisontalliste", {
			transform: ["none", "translateX(-145vw)"],
		}),
		{ target: document.querySelector("#horisontalscrollsection") }
	);
</script>
