---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import P from "../components/P.astro";
import portraet from "../assets/images/portraet.jpg";
import procesbillede from "../assets/images/procesbillede.jpg";
import stylingbilledeV from "../assets/images/stylingbilledeV.jpg";
import stylingbilledeH from "../assets/images/stylingbilledeH.jpg";
import stylingbillede_zoom_1 from "../assets/images/stylingbillede_zoom_1.jpg";
import stylingbillede_zoom_2 from "../assets/images/stylingbillede_zoom_2.jpg";
import flereCuffs from "../assets/images/flereCuffs.jpg";
import mangeCuffs from "../assets/images/mangeCuffs.webp";
import samling from "../assets/images/samling.jpg";
import pose from "../assets/images/pose.jpg";
import logoCTA from "../assets/images/logoCTA.svg";
import pilCTA from "../assets/images/pilCTA.svg";
---

<MainLayout title="om" description="Læs historien om Emilie og hendes rejse fra piercingproblemer til personlige smykkedesigns. Hver cuff er lavet i hånden med omtanke og ægte materialer." ogtitle="Om Axters Studios – Historien bag håndlavede de earcuffs" ogdescription="Da piercingerne ikke ville, tog Emilie sagen i egen hånd. Mød skaberen bag Axters Studios og læs, hvordan frustration blev til håndlavet frihed.">
	<div class="overflow-clip">
		<div id="scroll_container" class="h-[500vh] pt-xl">
			<div id="scroll_liste" class="flex sticky top-[10vh]">
				<section id="start" class="md:flex w-screen h-screen gap-lg overflow-hidden flex-grow-0 flex-shrink-0 flex-auto pt-lg md:pt-0">
					<div class="grid grid-cols-3 relative w-auto content-center">
						<Image src={procesbillede} alt="procesbillede" class="col-start-1 col-end-3 row-start-1 -row-end-1 rounded-[4px] md:rounded-[8px] z-0 w-[222px] md:w-[650px] self-center" />
						<Image src={portraet} alt="portræt" class="rounded-[4px] md:rounded-[8px] col-start-2 col-end-4 row-start-1 z-10 w-[163px] md:w-[400px] self-center md:translate-x-30" />
					</div>
					<div class="flex flex-col self-center md:w-[440px] px-sm md:px-0">
						<h1>
							<div class="w-[220px]">
								<H1 tekst="om axters studio" />
							</div>
							<p>
								<P weight="fontLight" tekst="Hey! Jeg hedder Emilie, og er skaberen bag Axters Studios. Læs med her, for at høre hvordan mit lille smykkeunivers opstod!" />
							</p>
						</h1>
						<div class="flex md:flex-row justify-end pt-sm">
							<p class="flex w-7xl md:w-xl">
								<P tekst="pssst, swipe til siden for at læse med" weight="fontLight" color="darkRed" />
							</p>
							<div class="flex items-end translate-y-2 md:translate-y-3 -translate-x-6 md:translate-x-1 md:w-2xl">
								<Image src={pilCTA} alt="pil" />
							</div>
						</div>
					</div>
				</section>
				<section id="section2" class="flex flex-col md:flex-row w-screen overflow-hidden flex-grow-0 flex-shrink-0 flex-auto md:items-center md:justify-center gap-3xl md:gap-5xl px-sm pt-lg md:pt-0">
					<div class="video flex md:order-1">
						<video src="/scrollytelling_video.webm" class="rounded-[4px] md:rounded-[8px] w-[258px] md:w-[468px]" autoplay muted loop></video>
						<Image src={logoCTA} alt="Axters studio logo" class="self-end -translate-x-27 translate-y-21" />
					</div>
					<div>
						<h2>
							<H2 tekst="Fra frustration til form" />
						</h2>
						<p>
							<P weight="fontLight" tekst="Jeg har altid elsket det kreative - at forme noget med hænderne og give det liv. Jeg drømte om at udsmykke mine ører med piercinger og fine øreringe, men min krop ville noget andet.Uanset hvor jeg fik lavet mine piercinger, endte det med betændelse og irritation. Jeg prøvede igen og igen. Til sidst måtte jeg opgive - og heldigvis fandt jeg min egen løsning." />
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
	<section id="burnnn" class="">
		<div class="sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-cover bg-center" style="background-image:url('/burn.jpg')">
			<div class="relative flex justify-end">
				<div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-xs p-xs">
					<div class="bg-beige-600 parallaxelement1 rounded-[4px] md:rounded-[8px] p-xs w-fit">
						<p>
							<P weight="fontLight" tekst="Jeg begyndte at eksperimentere med at lave mine egne earcuffs. Smykker, der kunne give mig det look, jeg ønskede - uden behovet, for et eneste hul i øret. Min mor og jeg har tidligere lavet smykker sammen, og hun har været en kæmpe støtte og inspiration. Men designet, stilen og udtrykket - det er mit eget." />
						</p>
					</div>
					<div class="bg-beige-600 parallaxelement2 rounded-[4px] md:rounded-[8px] p-xs w-fit">
						<p>
							<P weight="fontLight" tekst="Alle cuffs bliver lavet i hånden af mig - én ad gangen. De er ikke masseproduceret, og det betyder, at hver enkelt cuff er helt sin egen. Jeg bruger kun ægte materialer som sterling sølv og guld, fordi det skal være noget, kroppen kan tåle og noget, der holder. Jeg håndpolerer smykkerne - de er ikke perfekte, og det skal de heller ikke være. Det uperfekte er det, der gør dem levende." />
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="h-[100vh]"></div>
	</section>
	<section id="section4" class="parallaxgrafik fullwidthsection md:pb-2xl">
		<div class="h-screen w-full grid grid-cols-12 grid-rows-12">
			<Image src={stylingbillede_zoom_1} alt="styling af små cuffs på øre" class="col-start-2 col-span-3 row-start-4 rounded-[4px] md:rounded-[8px] parallaxgrafik1" />
			<Image src={stylingbilledeV} alt="styling af flere forskellige størrelser cuffs" class="col-start-1 col-span-2 row-start-7 rounded-[4px] md:rounded-[8px] parallaxgrafik2" />
			<Image src={stylingbillede_zoom_2} alt="styling af ekstra små cuffs på øre" class="col-start-9 col-span-3 row-start-8 rounded-[4px] md:rounded-[8px] parallaxgrafik3" />
			<Image src={stylingbilledeH} alt="styling af big pendant vedhæng" class="col-start-11 col-span-2 row-start-4 rounded-[4px] md:rounded-[8px] parallaxgrafik4" />
			<div class="col-start-5 col-span-4 row-start-5 z-1">
				<p class="flex justify-center">
					<P variant="centerAligned" weight="fontLight" tekst="Jeg ville bare stadig have følelsen af piercings op ad øret." />
				</p>
				<p class="font-display text-[23px] md:text-[54px] uppercase text-red-400 text-center">Det edgy,<br /> det personlige,<br /> det legende.</p>
				<p>
					<P variant="centerAligned" weight="fontLight" tekst="Cuffs blev min måde at tage kontrollen tilbage på!" />
				</p>
			</div>
		</div>
	</section>
	<div class="overflow-clip md:pb-3xl md:mb-3xl">
		<div id="scroll_container2" class="h-[200vh] relative">
			<div id="scroll_liste2" class="flex sticky top-[10vh]">
				<section id="section5" class="flex flex-col md:flex-row w-screen h-screen overflow-hidden flex-grow-0 flex-shrink-0 flex-auto gap-xl md:gap-6xl items-center md:justify-center">
					<div class="video w-[203px] md:w-[502px] flex">
						<video src="/oere_gif_finally.webm" autoplay muted loop></video>
					</div>
					<div class="px-sm md:px-0 md:content-center">
						<div>
							<H2 tekst="Smykker uden begrænsninger" />
						</div>
						<p>
							<P tekst="Det, jeg elsker mest ved cuffs, er friheden. Du kan mixe og matche, stable dem op ad øret, style dem asymmetrisk eller helt klassisk. Du har muligheden for at udtrykke noget personligt - uden at være låst af, hvad “man plejer”.Der er ikke én rigtig måde at bære dem på – kun din egen. Mange af jer starter med én eller to og vender tilbage for at bygge videre. Det gør mig så glad!" />
						</p>
					</div>
				</section>
				<section class="flex w-screen h-screen flex-grow-0 flex-shrink-0 flex-auto pt-lg justify-end relative">
					<div class="flex flex-col gap-sm">
						<div class="flex justify-between md:justify-end gap-sm">
							<Image src={mangeCuffs} alt="mange cuffs" class="w-5xl md:w-[326px] rounded-[4px] md:rounded-[8px]" />
							<Image src={samling} alt="samling af cuffs" class="w-5xl md:w-[326px] rounded-[4px] md:rounded-[8px]" />
						</div>
						<div class="md:flex gap-xl items-center">
							<div class="md:hidden py-xl px-lg">
								<p>
									<P tekst="Axters Studios er for dig, der ikke kan - eller ikke vil - have piercinger. Men også for dig, der bare elsker idéen om at kunne style dit look frit. Alle er velkomne - og det er præcis sådan, det skal være." />
								</p>
							</div>
							<div class="flex md:items-center md:gap-3xl justify-between">
								<Image src={flereCuffs} alt="flere cuffs" class="w-5xl md:w-[326px] rounded-[4px] md:rounded-[8px]" />
								<div class="hidden md:block">
									<p>
										<P tekst="Axters Studios er for dig, der ikke kan - eller ikke vil - have piercinger. Men også for dig, der bare elsker idéen om at kunne style dit look frit. Alle er velkomne - og det er præcis sådan, det skal være." />
									</p>
								</div>
								<div class="flex">
									<div class="w-[171px] translate-x-10 md:translate-x-17 flex self-end translate-y-8 md:translate-y-14">
										<Image src={logoCTA} alt="Axters studio logo" />
									</div>
									<Image src={pose} alt="pose med smykket" class="w-5xl md:w-[326px] rounded-[4px] md:rounded-[8px]" />
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</MainLayout>

<script>
	import { animate, scroll } from "motion";

	scroll(
		animate("#scroll_liste", {
			transform: ["none", "translateX(-200vw)"],
		}),
		{ target: document.querySelector("#scroll_container") }
	);
	scroll(animate(".parallaxelement1", { y: [1000, -60] }), {
		target: document.querySelector("#burnnn"),
	});
	scroll(animate(".parallaxelement2", { y: [2000, -30] }), {
		target: document.querySelector("#burnnn"),
	});

	scroll(animate(".parallaxgrafik1", { y: [0, 450] }), {
		target: document.querySelector(".parallaxgrafik"),
		offset: ["start end", "end start"],
	});
	scroll(animate(".parallaxgrafik2", { y: [0, -450] }), {
		target: document.querySelector(".parallaxgrafik"),
		offset: ["start end", "end start"],
	});
	scroll(animate(".parallaxgrafik3", { y: [0, -500] }), {
		target: document.querySelector(".parallaxgrafik"),
		offset: ["start end", "end start"],
	});
	scroll(animate(".parallaxgrafik4", { y: [0, 450] }), {
		target: document.querySelector(".parallaxgrafik"),
		offset: ["start end", "end start"],
	});

	scroll(
		animate("#scroll_liste2", {
			transform: ["none", "translateX(-100vw)"],
		}),
		{ target: document.querySelector("#scroll_container2") }
	);
</script>
