---
import H3 from "../components/H3.astro";
import H4 from "../components/H4.astro";
import P from "../components/P.astro";
import kurvSort from "../assets/images/KurvIkonSort.svg";
import kurvBeige from "../assets/images/KurvIkonBeige.svg";
import { Image } from "astro:assets";

const {data} = Astro.props;
console.log(data);
---

<a href={`/singleview/${data.slug}`} class="group md:relative ">
    <section class="bg-green-500 flex flex-col md:gap-ml p-xxs md:p-s rounded-[4px] md:rounded-[8px]  md:inset-0 md:transition-opacity md:duration-200 md:group-hover:opacity-0">
        <div class="w-xl md:w-[170px] place-self-center">
            <img src={data.product_image} alt="billede af earcuff" class="">
        </div>
        <div class="">
            <H3 color="darkRed" tekst={data.name} />
            <H4 color="darkRed" tekst={data.color}/>
            <div class="flex justify-between pt-[12px] items-center">
                <P color="darkRed" weight="fontLight" tekst={data.price}  />
                <Image src={kurvSort} alt="kurv ikon" class="w-xs md:w-[20px]" />
            </div>
        </div>
    </section>
    <section class="hidden md:block content-end md:p-s rounded-[4px] md:rounded-[8px] bg-cover bg-center absolute inset-0 transition-opacity duration-200 opacity-0 group-hover:opacity-100" style={`background-image: url('${data.styled_image_hover}')`}>
        <div class="">
            <H3 color="lightBeige" tekst={data.name} class=""/>
            <H4 color="lightBeige" tekst={data.color}/>
            <div class="flex justify-between pt-[12px] items-center">
                <P color="lightBeige" weight="fontLight" tekst={data.price} />
                <Image src={kurvBeige} alt="kurv ikon" class="w-xs md:w-[20px]" />
            </div>
        </div>
    </section>
</a>

<!-- <section class="group relative mx-auto aspect-[7/7]">
    <img src={cardimage} alt={cardimagealt} class="absolute inset-0 object-cover w-full h-full px-sm transition-opacity duration-200 group-hover:opacity-0" />
    <img src={cardimagehover} alt={cardimagehoveralt} class="absolute inset-0 object-cover w-full h-full px-s transition-opacity duration-200 opacity-0 group-hover:opacity-100" />
</section> -->